.login {
  max-width: 600px;
  background: #fff;
  border-radius: 4px;
  margin: 120px auto;
  border:1px solid #6690B9;
  padding: 30px;

  img {
    width: 100%;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
