/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/bootstrap/compiled.php
composer.phar
composer.lock
.DS_Store
Thumbs.db
.idea
*.pid
/app/storage/*
/app/storage/tmp
/app/storage/monit
/.sass-cache
installed.json
commander.config.php
cme-commander.pem
cme-commander
version