/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
*.pid
/app/storage/*
/app/storage/tmp
/app/storage/monit
/node_modules
/.sass-cache
installed.json
commander.config.php
cme-commander.pem
cme-commander
