h1{
  font-size:20px;
}


.queued-well
{
  background-color: #949FB1;
}

.sent-well
{
  background-color: #46BFBD;
}

.opened-well
{
  background-color: #FDB45C;
}

.unsubscribed-well
{
  background-color: #F7464A;
}

.navbar-brand
{
  font-family: 'Montserrat', sans-serif;
  color:#fff !important;
}

#username
{
  text-transform: lowercase;
}

.wizard .btn
{
  font-size:18px;
  padding:10px;
  width:250px;
}

.btn-cme
{
  background-color:#426A90;
  color:#fff;
}

.btn-cme:hover
{
  background-color: #45779f;
  color:#fff;
}

