.intl-tel-input .flag { width: 37px; height: 37px; background: url("../images/flags2.png") no-repeat top left;}
.intl-tel-input .ad { background-position: 0px 0px;  }
.intl-tel-input .ae { background-position: -42px 0px;  }
.intl-tel-input .af { background-position: -84px 0px;  }
.intl-tel-input .ag { background-position: -126px 0px;  }
.intl-tel-input .al { background-position: -168px 0px;  }
.intl-tel-input .am { background-position: -210px 0px;  }
.intl-tel-input .ao { background-position: -252px 0px;  }
.intl-tel-input .aq { background-position: -294px 0px;  }
.intl-tel-input .ar { background-position: -336px 0px;  }
.intl-tel-input .at { background-position: -378px 0px;  }
.intl-tel-input .au { background-position: -420px 0px;  }
.intl-tel-input .aw { background-position: -462px 0px;  }
.intl-tel-input .az { background-position: -504px 0px;  }
.intl-tel-input .ba { background-position: -546px 0px;  }
.intl-tel-input .bb { background-position: -588px 0px;  }
.intl-tel-input .bd { background-position: -630px 0px;  }
.intl-tel-input .bf { background-position: -672px 0px;  }
.intl-tel-input .bg { background-position: -714px 0px;  }
.intl-tel-input .bh { background-position: -756px 0px;  }
.intl-tel-input .bi { background-position: -798px 0px;  }
.intl-tel-input .bj { background-position: -840px 0px;  }
.intl-tel-input .bn { background-position: -882px 0px;  }
.intl-tel-input .bo { background-position: -924px 0px;  }
.intl-tel-input .br { background-position: -966px 0px;  }
.intl-tel-input .bs { background-position: -1008px 0px;  }
.intl-tel-input .bt { background-position: -1050px 0px;  }
.intl-tel-input .bw { background-position: -1092px 0px;  }
.intl-tel-input .by { background-position: -1134px 0px;  }
.intl-tel-input .bz { background-position: -1176px 0px;  }
.intl-tel-input .ca { background-position: -1218px 0px;  }
.intl-tel-input .cd { background-position: -1260px 0px;  }
.intl-tel-input .cf { background-position: -1302px 0px;  }
.intl-tel-input .ch { background-position: -1344px 0px;  }
.intl-tel-input .ci { background-position: -1386px 0px;  }
.intl-tel-input .cl { background-position: -1428px 0px;  }
.intl-tel-input .cm { background-position: -1470px 0px;  }
.intl-tel-input .cn { background-position: -1512px 0px;  }
.intl-tel-input .co { background-position: -1554px 0px;  }
.intl-tel-input .cr { background-position: -1596px 0px;  }
.intl-tel-input .cs { background-position: -1638px 0px;  }
.intl-tel-input .cu { background-position: -1680px 0px;  }
.intl-tel-input .cv { background-position: -1722px 0px;  }
.intl-tel-input .cy { background-position: -1764px 0px;  }
.intl-tel-input .cz { background-position: -1806px 0px;  }
.intl-tel-input .de { background-position: -1848px 0px;  }
.intl-tel-input .dj { background-position: -1890px 0px;  }
.intl-tel-input .dk { background-position: -1932px 0px;  }
.intl-tel-input .dm { background-position: -1974px 0px;  }
.intl-tel-input .do { background-position: -2016px 0px;  }
.intl-tel-input .dz { background-position: -2058px 0px;  }
.intl-tel-input .ec { background-position: -2100px 0px;  }
.intl-tel-input .ee { background-position: -2142px 0px;  }
.intl-tel-input .eg { background-position: -2184px 0px;  }
.intl-tel-input .eh { background-position: -2226px 0px;  }
.intl-tel-input .er { background-position: -2268px 0px;  }
.intl-tel-input .es { background-position: -2310px 0px;  }
.intl-tel-input .et { background-position: -2352px 0px;  }
.intl-tel-input .eu { background-position: -2394px 0px;  }
.intl-tel-input .fi { background-position: -2436px 0px;  }
.intl-tel-input .fj { background-position: -2478px 0px;  }
.intl-tel-input .fm { background-position: -2520px 0px;  }
.intl-tel-input .fo { background-position: -2562px 0px;  }
.intl-tel-input .fr { background-position: -2604px 0px;  }
.intl-tel-input .ga { background-position: -2646px 0px;  }
.intl-tel-input .gb { background-position: -2688px 0px;  }
.intl-tel-input .gd { background-position: -2730px 0px;  }
.intl-tel-input .ge { background-position: -2772px 0px;  }
.intl-tel-input .gg { background-position: -2814px 0px;  }
.intl-tel-input .gh { background-position: -2856px 0px;  }
.intl-tel-input .gi { background-position: -2898px 0px;  }
.intl-tel-input .gl { background-position: -2940px 0px;  }
.intl-tel-input .gm { background-position: -2982px 0px;  }
.intl-tel-input .gn { background-position: -3024px 0px;  }
.intl-tel-input .gq { background-position: -3066px 0px;  }
.intl-tel-input .gr { background-position: -3108px 0px;  }
.intl-tel-input .gt { background-position: -3150px 0px;  }
.intl-tel-input .gw { background-position: -3192px 0px;  }
.intl-tel-input .gy { background-position: -3234px 0px;  }
.intl-tel-input .hk { background-position: -3276px 0px;  }
.intl-tel-input .hn { background-position: -3318px 0px;  }
.intl-tel-input .hr { background-position: -3360px 0px;  }
.intl-tel-input .ht { background-position: -3402px 0px;  }
.intl-tel-input .hu { background-position: -3444px 0px;  }
.intl-tel-input .id { background-position: -3486px 0px;  }
.intl-tel-input .ie { background-position: -3528px 0px;  }
.intl-tel-input .il { background-position: -3570px 0px;  }
.intl-tel-input .in { background-position: -3612px 0px;  }
.intl-tel-input .iq { background-position: -3654px 0px;  }
.intl-tel-input .ir { background-position: -3696px 0px;  }
.intl-tel-input .is { background-position: -3738px 0px;  }
.intl-tel-input .it { background-position: -3780px 0px;  }
.intl-tel-input .jm { background-position: -3822px 0px;  }
.intl-tel-input .jo { background-position: -3864px 0px;  }
.intl-tel-input .jp { background-position: -3906px 0px;  }
.intl-tel-input .ke { background-position: -3948px 0px;  }
.intl-tel-input .kg { background-position: -3990px 0px;  }
.intl-tel-input .kh { background-position: -4032px 0px;  }
.intl-tel-input .ki { background-position: -4074px 0px;  }
.intl-tel-input .km { background-position: -4116px 0px;  }
.intl-tel-input .kn { background-position: -4158px 0px;  }
.intl-tel-input .kp { background-position: -4200px 0px;  }
.intl-tel-input .kr { background-position: -4242px 0px;  }
.intl-tel-input .kw { background-position: -4284px 0px;  }
.intl-tel-input .kz { background-position: -4326px 0px;  }
.intl-tel-input .la { background-position: -4368px 0px;  }
.intl-tel-input .lb { background-position: -4410px 0px;  }
.intl-tel-input .lc { background-position: -4452px 0px;  }
.intl-tel-input .li { background-position: -4494px 0px;  }
.intl-tel-input .lk { background-position: -4536px 0px;  }
.intl-tel-input .lr { background-position: -4578px 0px;  }
.intl-tel-input .ls { background-position: -4620px 0px;  }
.intl-tel-input .lt { background-position: -4662px 0px;  }
.intl-tel-input .lu { background-position: -4704px 0px;  }
.intl-tel-input .lv { background-position: -4746px 0px;  }
.intl-tel-input .ly { background-position: -4788px 0px;  }
.intl-tel-input .ma { background-position: -4830px 0px;  }
.intl-tel-input .mc { background-position: -4872px 0px;  }
.intl-tel-input .md { background-position: -4914px 0px;  }
.intl-tel-input .me { background-position: -4956px 0px;  }
.intl-tel-input .mg { background-position: -4998px 0px;  }
.intl-tel-input .mh { background-position: -5040px 0px;  }
.intl-tel-input .mk { background-position: -5082px 0px;  }
.intl-tel-input .ml { background-position: -5124px 0px;  }
.intl-tel-input .mm { background-position: -5166px 0px;  }
.intl-tel-input .mn { background-position: -5208px 0px;  }
.intl-tel-input .mo { background-position: -5250px 0px;  }
.intl-tel-input .mr { background-position: -5292px 0px;  }
.intl-tel-input .mt { background-position: -5334px 0px;  }
.intl-tel-input .mu { background-position: -5376px 0px;  }
.intl-tel-input .mv { background-position: -5418px 0px;  }
.intl-tel-input .mw { background-position: -5460px 0px;  }
.intl-tel-input .mx { background-position: -5502px 0px;  }
.intl-tel-input .my { background-position: -5544px 0px;  }
.intl-tel-input .mz { background-position: -5586px 0px;  }
.intl-tel-input .na { background-position: -5628px 0px;  }
.intl-tel-input .ng { background-position: -5670px 0px;  }
.intl-tel-input .ni { background-position: -5712px 0px;  }
.intl-tel-input .nl { background-position: -5754px 0px;  }
.intl-tel-input .no { background-position: -5796px 0px;  }
.intl-tel-input .np { background-position: -5838px 0px;  }
.intl-tel-input .nq { background-position: -5880px 0px;  }
.intl-tel-input .nr { background-position: -5922px 0px;  }
.intl-tel-input .nz { background-position: -5964px 0px;  }
.intl-tel-input .om { background-position: -6006px 0px;  }
.intl-tel-input .pa { background-position: -6048px 0px;  }
.intl-tel-input .pe { background-position: -6090px 0px;  }
.intl-tel-input .pg { background-position: -6132px 0px;  }
.intl-tel-input .ph { background-position: -6174px 0px;  }
.intl-tel-input .pk { background-position: -6216px 0px;  }
.intl-tel-input .pl { background-position: -6258px 0px;  }
.intl-tel-input .pr { background-position: -6300px 0px;  }
.intl-tel-input .ps { background-position: -6342px 0px;  }
.intl-tel-input .pt { background-position: -6384px 0px;  }
.intl-tel-input .pw { background-position: -6426px 0px;  }
.intl-tel-input .py { background-position: -6468px 0px;  }
.intl-tel-input .qa { background-position: -6510px 0px;  }
.intl-tel-input .ro { background-position: -6552px 0px;  }
.intl-tel-input .rs { background-position: -6594px 0px;  }
.intl-tel-input .ru { background-position: -6636px 0px;  }
.intl-tel-input .rw { background-position: -6678px 0px;  }
.intl-tel-input .sa { background-position: -6720px 0px;  }
.intl-tel-input .sb { background-position: -6762px 0px;  }
.intl-tel-input .sc { background-position: -6804px 0px;  }
.intl-tel-input .sd { background-position: -6846px 0px;  }
.intl-tel-input .se { background-position: -6888px 0px;  }
.intl-tel-input .sg { background-position: -6930px 0px;  }
.intl-tel-input .si { background-position: -6972px 0px;  }
.intl-tel-input .sl { background-position: -7014px 0px;  }
.intl-tel-input .sm { background-position: -7056px 0px;  }
.intl-tel-input .sn { background-position: -7098px 0px;  }
.intl-tel-input .so { background-position: -7140px 0px;  }
.intl-tel-input .sr { background-position: -7182px 0px;  }
.intl-tel-input .st { background-position: -7224px 0px;  }
.intl-tel-input .sv { background-position: -7266px 0px;  }
.intl-tel-input .sy { background-position: -7308px 0px;  }
.intl-tel-input .sz { background-position: -7350px 0px;  }
.intl-tel-input .td { background-position: -7392px 0px;  }
.intl-tel-input .tg { background-position: -7434px 0px;  }
.intl-tel-input .th { background-position: -7476px 0px;  }
.intl-tel-input .tj { background-position: -7518px 0px;  }
.intl-tel-input .tm { background-position: -7560px 0px;  }
.intl-tel-input .tn { background-position: -7602px 0px;  }
.intl-tel-input .to { background-position: -7644px 0px;  }
.intl-tel-input .tp { background-position: -7686px 0px;  }
.intl-tel-input .tr { background-position: -7728px 0px;  }
.intl-tel-input .tt { background-position: -7770px 0px;  }
.intl-tel-input .tv { background-position: -7812px 0px;  }
.intl-tel-input .tw { background-position: -7854px 0px;  }
.intl-tel-input .tz { background-position: -7896px 0px;  }
.intl-tel-input .ua { background-position: -7938px 0px;  }
.intl-tel-input .ug { background-position: -7980px 0px;  }
.intl-tel-input .us { background-position: -8022px 0px;  }
.intl-tel-input .uy { background-position: -8064px 0px;  }
.intl-tel-input .uz { background-position: -8106px 0px;  }
.intl-tel-input .va { background-position: -8148px 0px;  }
.intl-tel-input .vc { background-position: -8190px 0px;  }
.intl-tel-input .ve { background-position: -8232px 0px;  }
.intl-tel-input .vn { background-position: -8274px 0px;  }
.intl-tel-input .vu { background-position: -8316px 0px;  }
.intl-tel-input .ws { background-position: -8358px 0px;  }
.intl-tel-input .ye { background-position: -8400px 0px;  }
.intl-tel-input .za { background-position: -8442px 0px;  }
.intl-tel-input .zm { background-position: -8484px 0px;  }
.intl-tel-input .zw { background-position: -8526px 0px;  }

.intl-tel-input { position: relative; display: inline-block }

.intl-tel-input * { box-sizing: border-box; -moz-box-sizing: border-box }

.intl-tel-input .hide { display: none }

.intl-tel-input .v-hide { visibility: hidden }

.intl-tel-input input[type=text], .intl-tel-input input[type=tel] { position: relative; z-index: 0; margin-top: 0 !important; margin-bottom: 0 !important; padding-left: 44px; margin-left: 0 }

.intl-tel-input .flag-dropdown { position: absolute; top: 0; bottom: 0; padding: 1px }

.intl-tel-input .flag-dropdown:hover { cursor: pointer }

.intl-tel-input .flag-dropdown:hover .selected-flag { background-color: rgba(0, 0, 0, 0.05) }

.intl-tel-input input[disabled] + .flag-dropdown:hover { cursor: default }

.intl-tel-input input[disabled] + .flag-dropdown:hover .selected-flag { background-color: transparent }

.intl-tel-input .selected-flag { z-index: 1; position: relative; width: 38px; height: 100%; padding: 0 0 0 8px }

.intl-tel-input .selected-flag .flag { position: absolute; top: 50%; margin-top: -5px }

.intl-tel-input .selected-flag .arrow { position: relative; top: 50%; margin-top: -2px; left: 20px; width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 4px solid #555 }

.intl-tel-input .selected-flag .arrow.up { border-top: none; border-bottom: 4px solid #555 }

.intl-tel-input .country-list { list-style: none; position: absolute; z-index: 2; padding: 0; margin: 0 0 0 -1px; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); background-color: white; border: 1px solid #ccc; width: 430px; max-height: 200px; overflow-y: scroll }

.intl-tel-input .country-list .flag { display: inline-block }

.intl-tel-input .country-list .divider { padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px solid #ccc }

.intl-tel-input .country-list .country { padding: 5px 10px }

.intl-tel-input .country-list .country .dial-code { color: #999 }

.intl-tel-input .country-list .country.highlight { background-color: rgba(0, 0, 0, 0.05) }

.intl-tel-input .country-list .flag, .intl-tel-input .country-list .country-name { margin-right: 6px }
